<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.co.c_lis.morelocale.glass">

    <application android:allowBackup="true">

        <activity
            android:name=".ui.MainActivity"
            android:immersive="true"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger" />
        </activity>

        <activity
            android:name=".ui.SelectActivity"
            android:immersive="true"
            android:screenOrientation="nosensor" />

        <activity
            android:name=".ui.AboutActivity"
            android:immersive="true"
            android:screenOrientation="nosensor" />

    </application>

</manifest>
