<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.co.c_lis.ccl.morelocale">

    <permission
        android:name="jp.co.c_lis.permission.CHANGE_LOCALE"
        android:description="@string/permission_change_locale_description"
        android:icon="@mipmap/ic_menu_3d_globe"
        android:label="@string/permission_change_locale_label"
        android:protectionLevel="normal" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:icon="@mipmap/ic_menu_3d_globe"
        android:label="@string/language_picker_title">

        <activity
            android:name="jp.co.c_lis.morelocale.ui.MainActivity2"
            android:label="@string/language_picker_title"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.settings.LOCALE_SETTINGS" />

                <category android:name="android.intent.category.INFO" />
            </intent-filter>

            <meta-data
                android:name="jp.co.c_lis.provider.apps_settings"
                android:resource="@xml/setting_info" />
        </activity>

        <receiver
            android:name="com.android.settings.morelocale.receiver.Receiver"
            android:permission="jp.co.c_lis.permission.CHANGE_LOCALE">
            <intent-filter>
                <action android:name="jp.co.c_lis.ccl.morelocale.CHANGE_LOCALE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>